# Default config selections when keyboard_dongle shield is used

if SHIELD_KEYBOARD_DONGLE

config ZMK_KEYBOARD_NAME
    default "Keyboard Dongle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif # SHIELD_KEYBOARD_DONGLE
